<div class="container m-2">
    <div class="row p-5 col-sm-4 offset-4">
        <form action="/results" method="post">
        <label for="zipcode">Zip Code</label>
        <input type="number" name="zipcode" placeholder="00000" class="text-center">
        <button type="submit" class="btn btn-primary p-2 ml-2">Get Weather</button>
        </form>
    </div>
</div>